:root {
    /* cool fonts */
    --plex: 'IBM Plex Sans', sans-serif;
    --fira: 'Fira Code', monospace;
}

html {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--plex);
    color: black;
}

canvas {
    width: 100vw !important;
    height: 100vw !important;
    margin-top: 10% !important;
}